%h2= "#{@user.email} [#{@user.try(:trophy_score)}]"
%hr

%section#pomodoros
  .row
    .span12
      %h3 Stats
  .row
    .span10.offset1
      %ul{:style => "list-style: none;"}
        %li Pomodoros Completed:
        %li Pomodoro Cycles Completed:
        %li Pomodoros Failed:
        %li Trophies Earned:
        %li Total Trophy Points:


%hr
%section#trophies
  .row
    .span12
      %h3 Trophies
    .span10.offset1
      %ul
        - @user.trophies.each do |trophy|
          %li
            %h4= "#{trophy.name} [#{trophy.value}]"
          %li{:style => 'list-style: none;'}
            %p.trophy_text= trophy.text
          %li{:style => 'list-style: none;'}= "Earned on: #{trophy.try(:created_at).try(:strftime, '%D')}"
