!!!
%html{:lang => "en", "ng-app" => ""}
  %head
    %meta{:charset => "utf-8"}
    %title Pomodomo
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    / Le styles
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    %link{:href => "../assets/css/bootstrap-responsive.css", :rel => "stylesheet"}
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le fav and touch icons
    %link{:href => "../assets/ico/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "../assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
    %link{:href => "../assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{:href => "../assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{:href => "../assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/top_bar'

    / /.nav-collapse
    %p.notice{:hidden => "true"}
      = notice
    %p.alert{:hidden => "true" }
      = alert
    .float-right
    .container
      = yield

      %hr
        %footer
          %p © Your Mom 2012
